# Secrets
.env

# Database
*.sqlite3

# Uploaded media (use object storage in prod — see TЗ §9/§11)
media/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
staticfiles/

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
